.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Mobile first - 1 column */
    gap: 1rem;
 
  }
  
  @media (min-width: 640px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); /* sm:grid-cols-2 */
    }
  }
  
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* lg:grid-cols-3 */
    }
  }
  
  @media (min-width: 1280px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr); /* xl:grid-cols-4 */
    }
  }
  