.edit-book-container {
    padding: 1rem;
  }
  
  .edit-book-heading {
    font-size: 1.875rem; /* Tailwind text-3xl */
    margin-top: 1rem;
    margin-bottom: 1rem; /* Tailwind my-4 */
  }
  
  .edit-book-form {
    display: flex;
    flex-direction: column;
    border: 2px solid #38bdf8; /* Tailwind border-sky-400 */
    border-radius: 0.75rem; /* Tailwind rounded-xl */
    width: 600px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .edit-book-field {
    margin-top: 1rem;
    margin-bottom: 1rem; /* Tailwind my-4 */
  }
  
  .edit-book-label {
    font-size: 1.25rem; /* Tailwind text-xl */
    margin-right: 1rem;
    color: #6b7280; /* Tailwind text-gray-500 */
  }
  
  .edit-book-input {
    border: 2px solid #6b7280; /* Tailwind border-gray-500 */
    padding: 0.5rem 1rem; /* Tailwind px-4 py-2 */
    width: 100%;
  }
  
  .edit-book-button {
    padding: 0.5rem;
    background-color: #7dd3fc; /* Tailwind bg-sky-300 */
    margin: 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  
  .edit-book-button:hover {
    background-color: #38bdf8; /* Slightly darker sky-400 on hover */
  }
  